<div class="card tabla-content">
  <p-table
    #dt2
    [value]="solicitudes"
    dataKey="id"
    [rows]="10"
    [loading]="loading"
    [paginator]="true"
    [globalFilterFields]="['cliente', 'correo', 'nrc', 'encargado', 'telefono', 'monto', 'interes']"
    [tableStyle]="{ 'min-width': '75rem' }"
    stateStorage="session"
    currentPageReportTemplate="{totalRecords} usuarios"
  >
    <!-- Encabezados con Filtros -->
    <ng-template pTemplate="header">
      <tr class="custom-header-row">
        <th>Cliente</th>
        <th>Correo</th>
        <th>NRC Emisor</th>
        <th>Encargado</th>
        <th>Teléfono</th>
        <th>Monto</th>
        <th>Interés</th>
        <th>Acciones</th>
      </tr>
      <tr class="custom-header-row">
        <th>
          <p-columnFilter
            type="text"
            field="cliente"
            [showButtons]="false"
            [showMenu]="false"
            [showApplyButton]="false"
            [showClearButton]="false"
            [showOperator]="false"
            placeholder="Buscar por cliente"
            ariaLabel="Filtrar Cliente"
          ></p-columnFilter>
        </th>
        <th>
          <p-columnFilter
            type="text"
            field="correo"
            [showButtons]="false"
            [showMenu]="false"
            [showApplyButton]="false"
            [showClearButton]="false"
            [showOperator]="false"
            placeholder="Buscar por correo"
            ariaLabel="Filtrar Correo"
          ></p-columnFilter>
        </th>
        <th>
          <p-columnFilter
            type="text"
            field="nrc"
            [showButtons]="false"
            [showMenu]="false"
            [showApplyButton]="false"
            [showClearButton]="false"
            [showOperator]="false"
            placeholder="Buscar por NRC"
            ariaLabel="Filtrar NRC"
          ></p-columnFilter>
        </th>
        <th>
          <p-columnFilter
            type="text"
            field="encargado"
            [showButtons]="false"
            [showMenu]="false"
            [showApplyButton]="false"
            [showClearButton]="false"
            [showOperator]="false"
            placeholder="Buscar por encargado"
            ariaLabel="Filtrar Encargado"
          ></p-columnFilter>
        </th>
        <th>
          <p-columnFilter
            type="text"
            field="telefono"
            [showButtons]="false"
            [showMenu]="false"
            [showApplyButton]="false"
            [showClearButton]="false"
            [showOperator]="false"
            placeholder="Buscar por teléfono"
            ariaLabel="Filtrar Teléfono"
          ></p-columnFilter>
        </th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </ng-template>

    <!-- Cuerpo de la Tabla -->
    <ng-template pTemplate="body" let-solicitud>
      <tr>
        <td>{{ solicitud.factura.proveedor.razon_social }}</td>
        <td style="text-transform: none;">{{ solicitud.email }}</td>
        <td>{{ "NCR" }}</td>
        <td>{{ solicitud.nombre_cliente }}</td>
        <td>{{ solicitud.contacto }}</td>
        <td>{{ solicitud.factura.monto | currency:'$' }}</td>
        <td>{{ "INTERES" }}</td>
        <td>
          <button
            pButton
            type="button"
            label="VER SOLICITUD"
            class="button-info"
            (click)="verSolicitud(solicitud)"
          ></button>
        </td>
      </tr>
    </ng-template>

    <!-- Mensaje cuando no hay datos -->
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="8" class="text-center">No hay registros disponibles.</td>
      </tr>
    </ng-template>

         <!-- Footer del Paginador -->
         <ng-template pTemplate="paginatorleft">
          <div class="total-records">{{ solicitudes.length }} usuarios</div>
        </ng-template>

  </p-table>
</div>
