<div class="filtros-container">
  <!-- Date Range Picker -->
  <div *ngIf="!onlySearch" class="calendar-container">
    <i class="pi pi-calendar-plus calendar-icon"></i>
    <p-calendar #calendar [(ngModel)]="rangeDates" selectionMode="range" [readonlyInput]="true" dateFormat="dd/mm/yy"
      [showIcon]="false" rangeSeparator=" - " placeholder="{{ placeholder }}" (onClear)="clearRangoTexto()"
      [hideOnDateTimeSelect]="false">
      <!-- Footer with custom buttons -->
      <ng-template pTemplate="footer">
        <div class="calendar-footer">
          <button type="button" pButton label="Cancelar" class="p-button-secondary"
            (click)="clearRangoTexto()"></button>
          <button type="button" pButton label="Escoger Fecha" class="p-button-primary"
            (click)="aplicarSeleccion();"></button>
        </div>
      </ng-template>
    </p-calendar>
    <app-filtros-button (abrirModal)="mostrarModal()"></app-filtros-button>
    <!-- <app-descargar-button></app-descargar-button> -->
    <!-- <app-desembolsar-button></app-desembolsar-button> -->
    <button pButton type="button" *ngIf="filtros?.estado === 5" label="Procesar" icon="pi pi-cog"
      class="btn-desembolsar" (click)="procesarDesembolsos()"></button>
    <button pButton type="button" *ngIf="filtros?.estado === 7" label="Completar" icon="pi pi-money-bill"
      class="btn-desembolsar" (click)="pagarDesembolsos()"></button>
  </div>

  <!-- Modal Filtros Avanzados -->
  <app-modal-filtros-avanzados-desembolsos [mostrar]="mostrarModalFiltros"
    (cerrar)="cerrarModal($event)"></app-modal-filtros-avanzados-desembolsos>
</div>