.container-panel{
  margin: 4rem;
}
.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4rem 0;

  /* Estilo de las tarjetas */
  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    font-size: 1rem;
    padding: 20px;
    width: 300px;
    height: 140px;

    &.total {
      background-color: #5a5af0;
      color: white;
      padding: 30px;
    }

    &.approved,
    &.pending {
      background-color: #c8cedc; /* Gris claro */
      color: #ffffff;
    }

    .card-value {
      font-size: 2.3rem;
      font-weight: bold;
    }

    .card-label {
      font-size: 1.5rem;
      margin-top: 5px;
      font-weight: bold;
    }
  }

  /* Línea vertical */
  .vertical-line {
    width: 4px;
    height: 30px;
    background-color: #5a5af0; /* Azul */
    margin: 0 auto;
  }

  /* Simulador de línea horizontal con bordes redondeados */
  .connection-simulator {
    width: 272px;
    height: 50px;
    background-color: #ffffff; /* Fondo blanco para las tarjetas */
    border-top: 4px solid #5a5af0; /* Color de la tarjeta principal */
    border-left: 4px solid #5a5af0; /* Color de la tarjeta principal */
    border-right: 4px solid #5a5af0; /* Color de la tarjeta principal */
    border-top-right-radius: 20px; /* Bordes redondeados */
    border-top-left-radius: 20px;
    margin-top:0; /* Asegurar que esté por debajo de las tarjetas */
    position: relative;
    z-index: -1; /* Coloca el contenedor detrás de las tarjetas */
  }

  /* Tarjetas inferiores */
  .card-group {
    border-radius: 50%;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    width: 100%;
    max-width: 540px;
    margin-top: -12px; /* Ajusta la superposición con el simulador */
  }

  .card-group a{
    text-decoration: none;
  }
}

/* Responsividad */
@media (max-width: 768px) {
  .dashboard .card-group {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .connection-simulator {
    width: 200px; /* Ajusta el tamaño en pantallas pequeñas */
  }
}
