<div class="sidebar" [class.hidden]="!visible">
  <ng-container *ngIf="visible">
    <!-- Encabezado -->
    <div class="sidebar-header">
      <div class="logo-circle">
        <span>S</span>
      </div>
      <span class="logo-text">SYNERGY</span>
    </div>

    <!-- Menú -->
    <ul class="sidebar-menu">
      <li><a routerLink="/dashboard">Dashboard</a></li>
      <li><a routerLink="/solicitudes">Solicitudes</a></li>
      <li><a routerLink="/desembolso">Desembolso</a></li>
      <li><a routerLink="/settings">Settings</a></li>
      <li><a routerLink="/usuarios">Usuarios</a></li>
    </ul>
  </ng-container>
</div>
