::ng-deep .desembolsos-content {
  display: flex;
  flex-direction: column;
  background-color: #f5f7fb;
  height: 100%;
  gap: 1.2rem;
}

@media (max-width: 768px) {
    ::ng-deep .solicitudes-content {
        display: flex;
        flex-direction: column;
        background-color: #f5f7fb;
        height: 20rem;
    }
}
