<div class="navbar">
  <!-- Menú y Breadcrumb -->
  <div class="menu-and-breadcrumb">
    <div class="menu-icon" (click)="onToggleSidebar()">
      <i class="pi pi-bars"></i>
    </div>

    <div class="breadcrumb">
      <span class="breadcrumb-item-first">SYNERGY</span>
      <ng-container *ngFor="let breadcrumb of breadcrumbs; let isLast = last">
        <ng-container *ngIf="!isLast">
          <span class="breadcrumb-separator"><i class="pi pi-angle-right"></i></span>
          <span class="breadcrumb-item">{{ breadcrumb.label }}</span>
        </ng-container>
      </ng-container>
    </div>
  </div>

  <!-- Información del usuario -->
  <div class="user-info">
    <div class="user-details">
      <div class="username">{{ username }}</div>
      <div class="role">{{ role }}</div>
    </div>

    <!-- Avatar del usuario y el icono de menú desplegable -->
    <div class="user-avatar-menu">
      <div class="user-avatar">
        <img src="assets/user.jpg" alt="User Avatar" />
      </div>
      <i class="pi pi-chevron-down dropdown-icon" (click)="toggleDropdown()"></i>

      <!-- Menú desplegable -->
      <div class="dropdown-menu" *ngIf="isDropdownOpen">
        <ul>
          <li (click)="navigateTo('user')">Usuario</li>
          <li (click)="navigateTo('settings')">Ajustes</li>
          <li (click)="logout()">Cerrar Sesion</li>
        </ul>
      </div>
    </div>
  </div>
</div>
