.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.65rem 0rem;
  background-color: #ffffff;
  border-bottom: 1px solid #0000000f;

  /* Contenedor para el menú y breadcrumb */
  .menu-and-breadcrumb {
    display: flex;
    align-items: center;
    margin-left: 2rem;

    .menu-icon i {
      font-size: 1.1rem; /* Tamaño aumentado */
      cursor: pointer;
      margin-right: 0.8rem; /* Espacio entre el icono y el breadcrumb */
      font-weight: bold;
    }

    .breadcrumb {
      display: flex;
      align-items: center;

      .breadcrumb-item-first {
        font-size: 1.1rem;
        font-weight: bold;
      }

      .breadcrumb-item {
        font-size: 1.1rem;
      }

      .breadcrumb-separator {
        margin: 0 0.5rem;
        font-size: 1rem;
      }
    }
  }

  /* Información del usuario */
  .user-info {
    display: flex;
    align-items: center;
    position: relative; /* Para el menú desplegable */

    .user-details {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-right: 0.8rem;

      .username {
        font-size: 0.9rem;
        font-weight: bold;
      }

      .role {
        font-size: 0.9rem;
        color: #000000b4; /* Color más suave */
      }
    }

    .user-avatar-menu {
      display: flex;
      align-items: center;

      .user-avatar {
        width: 35px;
        height: 35px;
        border-radius: 50%; /* Hace el contenedor circular */
        overflow: hidden; /* Asegura que la imagen no sobresalga */

        img {
          width: 100%;
          height: 100%;
          object-fit: cover; /* Ajusta la imagen dentro del contenedor */
        }
      }

      .dropdown-icon {
        font-size: 0.8rem; /* Tamaño aumentado */
        color: #010008;
        margin: 0 1.2rem;
        cursor: pointer;
        font-weight: bold;

        &:hover {
          color: #9880ff; /* Cambia el color al hacer hover */
        }
      }

      /* Menú desplegable */
      .dropdown-menu {
        position: absolute;
        top: 50px;
        right: 0;
        background-color: white;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: 0 4px 8px #0000001a;
        padding: 0.5rem 0.8rem;
        z-index: 10;

        ul {
          list-style: none;
          padding: 0;
          margin: 0;

          li {
            padding: 0.8rem 1rem;
            cursor: pointer;
            font-size: 0.9rem;
            color: #333;

            &:hover {
              background-color: #e1daff; /* Color suave en hover */
              color: #4718ff; /* Cambia el color del texto */
            }
          }
        }
      }
    }
  }
}
