<div class="navbar">
  <!-- Menú y Breadcrumb -->
  <div class="menu-and-breadcrumb">
    <!-- Icono de menú hamburguesa -->
    <div class="menu-icon" (click)="onToggleSidebar()">
      <i class="pi pi-bars"></i>
    </div>

    <!-- Breadcrumb -->
    <div class="breadcrumb">
      <span class="breadcrumb-item-first">SYNERGY</span>
      <ng-container *ngFor="let breadcrumb of breadcrumbs; let isLast = last">
        <ng-container *ngIf="!isLast">
          <span class="breadcrumb-separator"><i class="pi pi-angle-right"></i></span>
          <span class="breadcrumb-item">{{ breadcrumb.label }}</span>
        </ng-container>
        <!-- <ng-container *ngIf="isLast">
          <span class="breadcrumb-separator">></span>
          <span class="breadcrumb-item" style="font-weight: bold;">{{ breadcrumb.label }}</span>
        </ng-container> -->
      </ng-container>
    </div>
  </div>

  <!-- Información del usuario -->
  <div class="user-info">
    <div class="user-details">
      <div class="username">{{ username }}</div>
      <div class="role">{{ role }}</div>
    </div>

    <!-- Avatar del usuario y el icono de menú desplegable -->
    <div class="user-avatar-menu">
      <div class="user-avatar">
        <div class="circle">{{ userInitial }}</div>
      </div>
      <i
        class="pi pi-chevron-down dropdown-icon"
        (click)="toggleDropdown()">
      </i>

      <!-- Menú desplegable -->
      <div class="dropdown-menu" *ngIf="isDropdownOpen">
        <ul>
          <li (click)="navigateTo('settings')">Settings</li>
          <li (click)="logout()">Cerrar</li>
        </ul>
      </div>
    </div>
  </div>
</div>
