<div class="sidebar" [class.hidden]="!visible">
  <ng-container *ngIf="visible">
    <!-- Encabezado -->
    <div class="sidebar-header">
      <div class="logo-circle">
        <span>S</span>
      </div>
      <span class="logo-text">SINERGY</span>
    </div>

    <!-- Menú -->
    <ul class="sidebar-menu">
      <li>
        <a routerLink="/home">
          <i class="pi pi-home"></i> Panel
        </a>
      </li>
      <li>
        <a routerLink="/solicitudes">
          <i class="pi pi-file"></i> Solicitudes
        </a>
      </li>
      <li>
        <a routerLink="/desembolso">
          <i class="pi pi-wallet"></i> Desembolso
        </a>
      </li>
      <li>
        <a routerLink="/settings">
          <i class="pi pi-cog"></i> Ajustes
        </a>
      </li>
      <li>
        <a routerLink="/usuarios">
          <i class="pi pi-users"></i> Usuarios
        </a>
      </li>
    </ul>
  </ng-container>
</div>
