<div class="sidebar" [class.hidden]="!visible">
  <ng-container *ngIf="visible">
    <!-- Encabezado -->
    <a href="/home" class="sidebar-header">
      <div class="logo-circle">
        <span>S</span>
      </div>
      <span class="logo-text">SINERGY</span>
    </a>

    <!-- Menú -->
    <ul class="sidebar-menu">
      <ng-container *ngFor="let item of permisos">
        <li>
          <!-- Menú Padre -->
          <a (click)="toggleMenu(item)" [routerLink]="item.menu.path" routerLinkActive="active">
            <i [class]="item.menu.icon" style="margin-right: 15px;"></i>  {{ item.menu.menu }}
            <i
              *ngIf="item.children?.length"
              class="pi pi-chevron-right dropdown-icon"
              [class.open]="item.isOpen"

            ></i>
          </a>

          <!-- Submenús -->
          <ul class="submenu" *ngIf="item.isOpen">
            <li *ngFor="let subItem of item.children">
              <a [routerLink]="subItem.menu.path || null" routerLinkActive="active">
                <i [class]="subItem.menu.icon"></i> {{ subItem.menu.menu }}
              </a>
            </li>
          </ul>
        </li>
      </ng-container>
    </ul>
  </ng-container>
</div>
