<div class="card tabla-content">
  <p-table #dt2 [value]="displayedDesembolsos" [lazy]="true" [scrollable]="true" scrollHeight="60vh" dataKey="id" [rows]="rows"
    [first]="first" [loading]="loading" [paginator]="true" [totalRecords]="totalRecords" [showCurrentPageReport]="true"
    currentPageReportTemplate="Mostrando {first} - {last} de {totalRecords} registros"
    (onPage)="handlePageChange($event)" (onFilter)="handleFilter($event)" [(selection)]="selectedDesembolsos"
    (selectionChange)="onSelectionChange($event)" [globalFilterFields]="[
            'solicitud.factura.proveedor.razon_social',
            'solicitud.factura.proveedor.correo_electronico',
            'solicitud.factura.no_factura',
            'solicitud.nombre_cliente',
            'solicitud.factura.proveedor.telefono',
            'monto_final',
            'metodo_pago'
        ]" [tableStyle]="{ 'min-width': '75rem' }"
    [ngClass]="{'aprobadas-estilos': tieneDesembolsosProcesados() || tieneDesembolsosPagados()}">

    <!-- Encabezados con Filtros -->
    <ng-template pTemplate="header">
      <tr class="custom-header-row">
        <th>Cliente</th>
        <th>Correo</th>
        <th>No. factura</th>
        <th>Encargado</th>
        <th>Teléfono</th>
        <th>Monto a desembolsar</th>
        <th>Método de pago</th>
        <th *ngIf="tieneDesembolsosPagados()">Días restantes de pago</th>
        <th *ngIf="tieneDesembolsosPagados()"></th>
        <th class="select-all"  *ngIf="tieneDesembolsosProcesados() || tieneDesembolsosPagados()">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          <span class="title-checkbox">Seleccionar todo</span>
        </th>
      </tr>

      <tr class="custom-header-row">
        <th>
          <p-columnFilter type="text" field="solicitud.factura.proveedor.razon_social" [showButtons]="false"
            [showMenu]="false" [showApplyButton]="false" [showClearButton]="false" [showOperator]="false"
            [matchMode]="'contains'" placeholder="Buscar por cliente" ariaLabel="Filtrar Cliente"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="text" field="solicitud.factura.proveedor.correo_electronico" [showButtons]="false"
            [showMenu]="false" [showApplyButton]="false" [showClearButton]="false" [showOperator]="false"
            [matchMode]="'contains'" placeholder="Buscar por correo" ariaLabel="Filtrar Correo"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="text" field="solicitud.factura.no_factura" [showButtons]="false" [showMenu]="false"
            [showApplyButton]="false" [showClearButton]="false" [showOperator]="false" [matchMode]="'contains'"
            placeholder="Buscar por No. factura" ariaLabel="Filtrar No. factura"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="text" field="solicitud.nombre_cliente" [showButtons]="false" [showMenu]="false"
            [showApplyButton]="false" [showClearButton]="false" [showOperator]="false" [matchMode]="'contains'"
            placeholder="Buscar por encargado" ariaLabel="Filtrar Encargado"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="text" field="solicitud.factura.proveedor.telefono" [showButtons]="false"
            [showMenu]="false" [showApplyButton]="false" [showClearButton]="false" [showOperator]="false"
            [matchMode]="'contains'" placeholder="Buscar por teléfono" ariaLabel="Filtrar Teléfono"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="text" field="monto_final" [showButtons]="false" [showMenu]="false"
            [showApplyButton]="false" [showClearButton]="false" [showOperator]="false" [matchMode]="'contains'"
            placeholder="Buscar por monto" ariaLabel="Filtrar Monto"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="text" field="metodo_pago" [showButtons]="false" [showMenu]="false"
            [showApplyButton]="false" [showClearButton]="false" [showOperator]="false" [matchMode]="'contains'"
            placeholder="Buscar por método de pago" ariaLabel="Filtrar Método de pago"></p-columnFilter>
        </th>
        <th *ngIf="tieneDesembolsosProcesados()"></th>
        <th *ngIf="tieneDesembolsosPagados()"></th>
        <th *ngIf="tieneDesembolsosPagados()"></th>
        <th *ngIf="tieneDesembolsosPagados()"></th>
        <th *ngIf="tieneDesembolsosProcesados()"></th>
      </tr>
    </ng-template>

    <!-- Cuerpo de la Tabla -->
    <ng-template pTemplate="body" let-desembolso>
      <tr>
        <td style="text-transform: uppercase;">{{ desembolso.solicitud.factura.proveedor.razon_social }}</td>
        <td style="text-transform: none;">{{ desembolso.solicitud.factura.proveedor.correo_electronico }}</td>
        <td style="text-transform: none;">{{ desembolso.solicitud.factura.no_factura }}</td>
        <td style="text-transform: uppercase;">{{ desembolso.solicitud.nombre_cliente }}</td>
        <td style="text-transform: none;">{{ desembolso.solicitud.factura.proveedor.telefono }}</td>
        <td style="text-transform: uppercase;">{{ desembolso.monto_final | currency:'$' }}</td>
        <td style="text-transform: uppercase;">{{ desembolso.metodo_pago }}</td>
        <td *ngIf="tieneDesembolsosPagados()">
          <span [ngClass]="'estado-azul'">{{ desembolso.dias_restantes }} días</span>
        </td>
        <td *ngIf="tieneDesembolsosPagados()">
          <button pButton type="button" label="VER DETALLES" class="button-info"
            (click)="verDetalle(desembolso)"></button>
        </td>
        <td *ngIf="tieneDesembolsosProcesados() || tieneDesembolsosPagados()">
          <p-tableCheckbox [value]="desembolso" class="checkbox"></p-tableCheckbox>
        </td>
      </tr>
    </ng-template>

    <!-- Mensaje cuando no hay datos -->
    <ng-template pTemplate="emptymessage">
      <tr>
        <td [attr.colspan]="tieneDesembolsosPagados() ? '10' : '9'" class="text-center"
          style="text-transform: uppercase;">
          No hay registros disponibles.
        </td>
      </tr>
    </ng-template>

    <!-- Footer del Paginador -->
    <ng-template pTemplate="paginatorleft">
      <div class="total-records">{{ desembolsos.length }} registros</div>
    </ng-template>

  </p-table>
</div>